@use "../utils/mixins";
@use "../utils/variables";

.error-page {
    background: variables.$white;
}
.comming-shapes {
    position: relative;
    @include mixins.respond-below(custom991) {
        display: none;
    }
    .comming-right-shape {
        position: fixed;
        top: 0;
        left: 0;
    }
    .comming-left-shape {
        position: fixed;
        bottom: -5px;
        right: 0;
    }
    img {
        width: 500px;
    }
}
.error-img {
    max-width: 500px;
 }