@use "../utils/mixins";
@use "../utils/variables";

.settings-sidebar {
    h4 {
        font-size: variables.$font-size-18;
        font-weight: variables.$font-weight-semibold;
        margin-bottom: 24px;
        @include mixins.respond-below(custom767) {
            font-size: variables.$font-size-16;
             margin-bottom: 15px;
        }
    }
    a {
        color: variables.$gray-400;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: variables.$border-radius-lg;
        padding: 10px;
        width: 100%;
        position: relative;
        &.active {
            background: variables.$light-300;
            color: variables.$gray-900;
            &:before {
                position: absolute;
                content: '\f054';
                font-family: 'FontAwesome';
                font-size: variables.$font-size-12;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
            }
        }
        &:hover {
            color: variables.$gray-900;  
        }
    }
}
.profile-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    .profile-upload-img {
        width: 100px;
        min-width: 100px;
        height: 100px;
        position: relative;
        margin-right: 15px;
        border-radius: variables.$border-radius-lg;
        border: 2px dashed variables.$light-900;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        span {
            color: variables.$gray-400;
            position: absolute;
        }
    }
    .profile-upload-content {
        .profile-upload-btn {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            color: variables.$purple;
            background: variables.$purple-100;
            border: 1px solid variables.$purple-100;
            border-radius: variables.$border-radius-lg;
            padding: 8px 10px;
            margin-bottom: 15px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                color: variables.$white;
                background: variables.$purple;
                border: 1px solid variables.$purple;
                transition: all 0.5s;
            }
            i {
                font-size: variables.$font-size-16;
                margin-right: 8px;
            }
            input[type="file"] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                text-align: right;
                filter: alpha(opacity = 0);
                opacity: 0;
                outline: none;
                cursor: inherit;
                display: block;
            }
        }
        p {
            font-weight: variables.$font-weight-medium;
            color: variables.$gray-400;
        }
    }
    .preview1 {
        display: none;
    }
    .it {
        width: 70px;
        height: 70px;
        border-radius: variables.$border-radius-lg;
        display: block;
        position: relative;
        background: variables.$white;
        object-fit: cover;
    }
    .profile-remove {
        display: none;
    }
    .profile-remove-btn {
        width: 14px;
        height: 14px;
        font-size: variables.$font-size-10;
        color: variables.$white;
        background: variables.$danger;
        border: 1px solid variables.$danger;
        border-radius: variables.$border-radius-lg;
        padding: 0;
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 8px;
    }
    .profile-remove-btn:hover {
        background: variables.$danger-hover;
        border: 1px solid variables.$danger-hover;
    }
}
.notificaion-table {
    .table {
        thead {
            tr {                
                &:first-child {
                    th {
                        padding-top: 0;
                    }
                }
                th {
                    font-size: variables.$font-size-16;
                    padding: 10px;
                }
            }
        }
        tbody {
            tr {
                td {
                    font-weight: variables.$font-weight-medium;
                    color: variables.$gray-900;
                    padding: 10px;
                }
                &:last-child {
                    td {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}
.mod-toggle {
    .status-toggle {
        margin-right: 20px;
    }
}
.btn-add {
    width: 32px;
    height: 32px;
    background: variables.$white;
    border: 1px solid variables.$light-900;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    color: variables.$gray-900;
    &:hover {
        background: variables.$green;
        color: variables.$white;
    }
}
.settings-form {
    .setting-title {
        margin-bottom: 15px;
        h6 {
            font-size: variables.$font-size-14;
            font-weight: variables.$font-weight-medium;
        }
        p {
            font-size: variables.$font-size-12;
        }
    }
    .form-wrap {
        margin-bottom: 15px;
    }
    .submit-button {
        margin-top: 14px;
    }
}
.bank-box {
    background: variables.$light-200;
    border-radius: 5px;
    border: 1px solid variables.$light-200;
    position: relative;
    @include mixins.margin-padding(0 0 24px, 40px);
    @include mixins.respond-below(custom991) {
        @include mixins.margin-padding(0 0 24px, 20px);
    }
    &.active {
        border-color: variables.$success;
        &::after {
            position: absolute;
            top: -8px;
            right: -8px;
            content: "\f058";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: variables.$success-900;
            width: 22px;
            height: 22px;
            border-radius: 50%;
            background-color: variables.$white;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
        }
    }
    .table-action {
        .action-icon {
            background-color: transparent;
            &:hover {
                background-color: variables.$light-300;
            }
        }
    }
}
.inv-days {
    .select2-container {
        min-width: 62px !important;
    }
    p {
        color: variables.$black;
        margin-left: 10px;
    }
}
.lang-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    li {
        margin-right: 5px;
        a {
            background-color: variables.$light-300;
            @include mixins.rounded(5px);
            color: variables.$gray-400;
            font-weight: variables.$font-weight-medium;
            @include mixins.margin-padding(null, 8px 15px);
            display: inline-block;
            &:hover {
                background-color: variables.$green;
                color: variables.$white !important;
            }
        }
    }
}
.theme-type-images {
    flex-wrap: wrap;
    .theme-image {
        background: variables.$white;
        border-radius: 5px;
        border: 1px solid variables.$light-900;
        padding: 10px;
        margin: 0 24px 15px 0;
        text-align: center;
        img {
            width: 150px;
             @include mixins.respond-below(custom1399) {
               width: 130px;      
            }
        }
        &:last-child {
            margin-right: 0;
        }
        span {
            font-weight: variables.$font-weight-medium;
            font-size: variables.$font-size-14;
            color: variables.$gray-900;
            margin-top: 10px;
            display: block;
        }
        &.active {
            border-color: variables.$primary;
            span {
                color: variables.$primary;
            }
        }
    }
}
.theme-colors {
    ul {
        display: flex;
        align-items: center;
        li {
            margin-right: 10px;
            span {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: variables.$primary;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                &.active {
                    background-color: variables.$primary-100;
                    &:after {
                        content: "";
                        width: 25px;
                        height: 25px;
                        background-color: variables.$primary;
                        border-radius: 50%;
                        opacity: 1;
                    }
                }
                &.theme-secondary {
                    background-color: variables.$secondary;
                    &.active {
                        background-color: variables.$secondary-100;
                        &:after {
                            background-color: variables.$secondary;
                        }
                    }
                }
                &.theme-violet {
                    background-color: variables.$tertiary;
                    &.active {
                        background-color: rgba(variables.$tertiary, 0.1);
                        &:after {
                            background-color: variables.$tertiary;
                        }
                    }
                }
                &.theme-blue {
                    background-color: variables.$indigo;
                    &.active {
                        background-color: variables.$indigo-100;
                        &:after {
                            background-color: variables.$indigo;
                        }
                    }
                }
                &.theme-brown {
                    background-color: variables.$purple;
                    &.active {
                        background-color: variables.$purple-100;
                        &:after {
                            background-color: variables.$purple;
                        }
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.lang-wrap {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.lang-flag {
    margin-right: 15px;
    a {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        border: 1px solid variables.$light-900;
        @include mixins.rounded(8px);
        color: variables.$gray-900;
        font-weight: variables.$font-weight-medium;
        @include mixins.margin-padding(null, 8px 8px);
        img {
            margin-right: 8px;
            @include mixins.rounded(50%);
            width: 20px;
            height: 20px;
        }
    }
}
.lang-direct { 
    li {
        @include mixins.margin-padding(0 8px 0 0, null);
        a {
            background-color: variables.$gray-200;
            color: variables.$gray-900;
            @include mixins.rounded(5px);
            @include mixins.margin-padding(null, 8px 15px);
            display: inline-block;
            &:hover, &.active {
                background-color: variables.$tertiary;
                color: variables.$white;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
.translate-wrap {
    h6 {
        font-weight: variables.$font-weight-medium;
        margin-bottom: 15px;
    }
    .form-wrap {
        margin-bottom: 15px;
    }
    &.translate-title {
        h6 {
            font-size: variables.$font-size-16;
            font-weight: variables.$font-weight-semibold;
        }
    }
}
.translate-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; 
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
    .btn, .lang-flag  {
        margin-bottom: 24px;
    }
}
.lang-flag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center; 
}
.lang-progress {
    margin-bottom: 24px;
    p {
        font-weight: variables.$font-weight-medium;
    }
    .progress {
        min-width: 100px;
        max-width: 150px;
        height: 7px;
    }
}
.black-text {
    color: variables.$gray-900 !important;
}
.settings-tab {
    .card-body {
        padding-top: 0;
         @include mixins.respond-below(custom767) {
            padding-top: 16px;        
        }
        li {
            a {
                padding-top: 24px;                
                @include mixins.respond-below(custom767) {
                     padding-top: 8px; 
                     padding-bottom: 8px;           
                }
            }
        }
    }
}
.payment-img {
    width: 80px;
    height: 40px;
}


