@use "../utils/mixins";
@use "../utils/variables";

.modal-barcode {
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        li {
            @include mixins.rounded(7px);
            width: 25%;
            margin-bottom: 10px;
            padding: 0 5px;
            @include mixins.respond-below(custom991) {
                width: 50%;
            }
            a {
                border: 1px solid variables.$gray-400;
                @include mixins.rounded(10px);
                display: block;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

.modal {
    .modal-content {
        border: 1px solid variables.$light-900;
        box-shadow: 0px 4px 74px 0px #D0D0D040;
        border-radius: 5px;
    }
    .modal-title {
        font-weight: variables.$font-weight-bold;
        @include mixins.respond-below(custom991) {
            font-size: variables.$font-size-16;
        }
    }
	.logo-lg {
		img {
			width: 150px;
		}
	}
    .modal-header {
        border-color: variables.$light-900;        
        border-bottom: 1px solid variables.$light-900;
        justify-content: space-between;
        .close,
        .btn-close {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            color: variables.$danger-700;
            opacity: 1;
            font-size: variables.$font-size-12;
            width: 22px;
            height: 22px;
            border: 0;
            font-weight: variables.$font-weight-bold;
            background-color: transparent;
            @include mixins.rounded(50px);
            &:hover{
                background-color: transparent;
                color:variables.$white;
            }
        }
    }
    .modal-footer{
        .btn-print {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            border: 1px solid variables.$primary;
            color: variables.$primary;
            img{
                margin-left: 10px;
            }
            &:hover{
                background: variables.$primary;
                color: variables.$white;
                img{
                    filter: brightness(0) invert(1);
                }
            }
        }
        .btn-secondary{
            background: variables.$secondary;
            &:hover{
                @include mixins.box-shadow(inset, 0, 0px, 0px, 100px, variables.$white);
                color: variables.$secondary !important;
            }
        }
    }
    
    .modal-dialog.right-slider-modal {
        margin: 0;
        margin-left: auto;
        max-width: 1102px;
    }
    
    .modal-dialog.add-centered {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        justify-content: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        max-width: 1192px;
    }
    .modal-dialog.sales-details-modal {
        max-width: 1192px;
    }
    .modal-dialog.edit-sales-modal {
        max-width: 1192px;
    }
    .edit-add.card.edit-expense {
        border: 1px solid rgba(0,0,0,.2);
    }
    .note-editor.note-frame.card {
        border: 1px solid rgba(0,0,0,.2) !important; 
    }
}
.offcanvas.offcanvas-end {
    width: auto !important;
}
.offcanvas.offcanvas-end.em-payrol-add {
    max-width: 1192px !important;
}

.modal {
    &.animated .modal-dialog {
        transform: translate(0, 0);
    }
    &.effect-scale {
        .modal-dialog {
            transform: scale(0.7);
            opacity: 0;
            transition: all 0.3s;
        }
        &.show .modal-dialog {
            transform: scale(1);
            opacity: 1;
        }
    }
    &.effect-slide-in-right {
        .modal-dialog {
            transform: translateX(20%);
            opacity: 0;
            transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
        }
        &.show .modal-dialog {
            transform: translateX(0);
            opacity: 1;
        }
    }
    &.effect-slide-in-bottom {
        .modal-dialog {
            transform: translateY(20%);
            opacity: 0;
            transition: all 0.3s;
        }
        &.show .modal-dialog {
            transform: translateY(0);
            opacity: 1;
        }
    }
    &.effect-newspaper {
        .modal-dialog {
            transform: scale(0) rotate(720deg);
            opacity: 0;
        }
        &.show~.modal-backdrop, .modal-dialog {
            transition: all 0.5s;
        }
        &.show .modal-dialog {
            transform: scale(1) rotate(0deg);
            opacity: 1;
        }
    }
    &.effect-fall {
        -webkit-perspective: 1300px;
        -moz-perspective: 1300px;
        perspective: 1300px;
        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(600px) rotateX(20deg);
            opacity: 0;
        }
        &.show .modal-dialog {
            transition: all 0.3s ease-in;
            transform: translateZ(0px) rotateX(0deg);
            opacity: 1;
        }
    }
    &.effect-flip-horizontal {
        perspective: 1300px;
        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateY(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }
        &.show .modal-dialog {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }
    &.effect-flip-vertical {
        perspective: 1300px;
        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateX(-70deg);
            transition: all 0.3s;
            opacity: 0;
        }
        &.show .modal-dialog {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }
    &.effect-super-scaled {
        .modal-dialog {
            transform: scale(2);
            opacity: 0;
            transition: all 0.3s;
        }
        &.show .modal-dialog {
            transform: scale(1);
            opacity: 1;
        }
    }
    &.effect-sign {
        perspective: 1300px;
        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: rotateX(-60deg);
            transform-origin: 50% 0;
            opacity: 0;
            transition: all 0.3s;
        }
        &.show .modal-dialog {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }
    &.effect-rotate-bottom {
        perspective: 1300px;
        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateY(100%) rotateX(90deg);
            transform-origin: 0 100%;
            opacity: 0;
            transition: all 0.3s ease-out;
        }
        &.show .modal-dialog {
            transform: translateY(0%) rotateX(0deg);
            opacity: 1;
        }
    }
    &.effect-rotate-left {
        perspective: 1300px;
        .modal-dialog {
            -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform: translateZ(100px) translateX(-30%) rotateY(90deg);
            transform-origin: 0 100%;
            opacity: 0;
            transition: all 0.3s;
        }
        &.show .modal-dialog {
            transform: translateZ(0px) translateX(0%) rotateY(0deg);
            opacity: 1;
        }
    }
}
.offcanvas-end.offcanvas-large {
    width: 700px !important;
}
.modal {
    z-index: 1050 !important;
}
.modal-backdrop {
    z-index: 1001 !important;
}
.status-toggle {
    &.small-toggle-btn {
        float: unset;
        .label-text {
            color: variables.$text-color;
            font-size: variables.$font-size-14;
            font-weight: variables.$font-weight-normal;
        }
        .checktoggle {
            width: 24px;
            height: 12px;
            &:after {
                width: 8px;
                height: 8px;
            }
        }
        .check {
            &:checked{
                & + .checktoggle {
                    &:after {
                        right: 0;
                        width: 8px;
                        height: 8px;
                    }
                }
            }
           
        }
    }
    .check {
        display: block;
        height: 0;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        margin: 0;
        padding: 0;
        &:checked + .checktoggle:after {
            left: 100%;
            transform: translate(calc(-100% - 3px), -50%);
             right: 0;
            width: 10px;
            height: 10px;
        }
        &:checked + .checktoggle {
            background: #1ABE17;
        }
    }
   .checktoggle {
        background: #CDCDCD;
        cursor: pointer;
        display: block;
        font-size: 0;
        margin-bottom: 0;
        position: relative;
        border-radius: 12px;
        width: 30px;
        height: 14px;
        &:after {
            content: " ";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #FFF;
            -webkit-transition: all 0.2s ease;
            -ms-transition: all 0.2s ease;
            transition: all 0.2s ease;
            transform: translate(3px, -50%);
            -webkit-transform: translate(3px, -50%);
            -ms-transform: translate(3px, -50%);
            position: absolute;
            top: 50%;
            left: 0;
            border-radius: 50%;
        }
    }
}
.modal-btn {
    .btn {
        @include mixins.margin-padding(0 10px 0 0, 7px 15px);
        &:last-child {
            margin-right: 0;
        }
    } 
}
.custom-modal {
    .modal-header {        
        .btn-close {
            @include mixins.margin-padding(0, 0);
            background: variables.$white;
            border: 1px solid variables.$light-900;
            border-radius: 50%;
            color: variables.$gray-400;
            font-weight: variables.$font-weight-normal;
            font-size: variables.$font-size-14;
            box-shadow: 0px 4px 4px 0px #DBDBDB40;
            height: 26px;
            width: 26px;
            display: flex;
            display: -webkit-flex;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            -webkit-transition: all 0.7s;
            -moz-transition: all 0.7s;
            -o-transition: all 0.7s;
            transition: all 0.7s;
            &:hover {
                border: 1px solid variables.$primary;
                background: variables.$primary;
                color: variables.$white;
                -webkit-transition: all 0.7s;
                -moz-transition: all 0.7s;
                -o-transition: all 0.7s;
                transition: all 0.7s;
                -webkit-transform: rotateZ(360deg);
                -moz-transform: rotateZ(360deg);
                transform: rotateZ(360deg);
            }    
        }
    }

}